

.ql-editor {
    max-height: 5in;
    min-height: 5in;
    max-width: 690px;
}

.ql-editor strong {
    font-weight: bold;
}

.savebtn {
    margin-left: 360px;
    margin-bottom: 50px;
}

body::-webkit-scrollbar {
    display: none;
}

.cardbody {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cardbody:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    text-decoration: underline;
}

.navbar {
    background-color: #000000;
}

.app,
.LLL {
    background-image: url(https://images.unsplash.com/photo-1533230019569-ea3cb2b98b1f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100vh;
}



@media (max-width: 320px) {
    .ql-editor {
        max-width: 300px;
    }

    .savebtn {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .cardbody:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -6px inset, rgba(0, 0, 0, 0.3) 0px 6px 12px -6px inset;
        text-decoration: none;
    }
}
